.controls {
  display: flex;
  gap: 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 10px;
}

.button {
  font-size: 0.875rem;
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.button:hover,
.button:focus {
  border: 1px solid transparent;
  outline: 0;
}

.buttonError {
  color: #fff;
  background-color: rgb(220, 0, 78);
}

.buttonSuccess {
  color: white;
  background-color: #1976d2;
}
